
body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;

}
.box {
    position: relative;
    top: 60px;
    margin: 0 auto;
        text-align: center;
        background-color: #fff;
        border-radius: 5%;
        height: 500px;
        width: 290px;
    
    }

.qr-code {
    text-align: center;
    height: 300px;
    width: 260px;
    border-radius: 10%;
    padding: 4% 0%;
    
}
h1, h2{
    padding: 2% 5%;
    line-height: 25px;
    word-spacing: 1.5px;
}
.heading{
    font-weight: 700;
    font-size: 1.2rem;
}
.subheading{
    font-weight: 400;
    color:hsl(220, 15%, 55%) ;
    font-size: 1rem;
}
footer {
    position: relative;
    top: 150px;
}
@media screen and (max-width: 500px) {
    .box{ 
        height: 600px; 
        width: 400px;
    }
    .qr-code {
        height: 400px;
        width: 360px;
        margin-bottom: 30px;
    }
    h1, h2{
        font-size: 1.1rem;
        padding: 0 16%;
    }
  }